.coverage/
.worktrees/
configs/osapi.*.yaml
!configs/osapi.dev.yaml
database.db*
dist/
docs/node_modules/
.just/
.nats/jetstream/
pki/
netplanStatus.txt
result.xml
test/vendor/
tmp/

/osapi

# UI
ui/dist/
ui/node_modules/
ui/.just/remote/

# Compiled example binaries
examples/**
!examples/**/
!examples/**/*.go
!examples/**/*.mod
!examples/**/*.sum
